/* Add this CSS to your existing CSS files or create a new one and import it in the Navbar component */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Change the background color as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Make sure the mobile menu appears above other elements */
  }
  
  .mobile-menu-link {
    font-size: 18px; /* Adjust font size as needed */
    margin: 10px 0;
    text-decoration: none;
    color: #000000; /* Change the text color as needed */
  }
  
  /* Styling for the menu icon and close icon */
  .menu-icon-container {
    display: flex; /* Show the menu icon on mobile screens */
    align-items: center;
    justify-content: center;
    position: relative; /* Make the container relatively positioned */
    z-index: 10000; /* Ensure the icons appear above other elements */
  }
  
  .close-icon {
    position: absolute; /* Position the close icon absolutely */
    top: 50%; /* Center the icon vertically */
    left: 50%; /* Center the icon horizontally */
    transform: translate(-50%, -50%); /* Center the icon perfectly */
    cursor: pointer; /* Show pointer cursor on hover */
  }

  .navlink:hover {
    color: #bfc500 !important;
    /* Additional styling for the link when hovering can be added here */
  }
  
  
  @media (min-width: 871px) {
    /* Hide the mobile menu on non-mobile screens */
    .mobile-menu {
      display: none;
    }

    /* Show the menu icon on non-mobile screens */
    .menu-icon-container {
      display: none;
    }
  }