/* バウンスボールアニメーション */

/* ボールの大きさ */
:root {
  --width: 15px;
  --height: 15px;
}

/* バウンドの距離 */
:root {
  /* この値を調整して初期の高さを制御できます */
  --bounce-height: 30px; 
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 0;
  width: var(--width);
  top: 10px;
  margin-left: 7px;
}

.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  background-color: #bfc500;
  transform-origin: 50%;
  animation: bounceBall 500ms alternate infinite ease; 
}

@keyframes bounceBall { 
  0% {
    top: 0;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: var(--height);
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: calc(-1 * var(--bounce-height));
  }
}

@media only screen and (max-width: 767px) {
  /* Media query for smaller screens (e.g., iPhones) */
  .bounceball {
    top: 16px; /* Adjust this value to fine-tune the alignment */
  }
}